
<div class="wrapper login">
  <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('../../assets/img/lock.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
        <form #userlogin = "ngForm" (ngSubmit) = "database(userlogin.value)" class="form" method="" action="">
          <div class="box" style="background:rgba(14, 13, 13, 0.651); border-radius: 20px; box-shadow: 0 15px 30px rgba(44, 44, 44, 0.699)">
            <div class="text text-center text-header-green background:red">
              
              <h2 class="card-title" style="font-style: inherit; color: #fff"> <i class="material-icons">fingerprint</i> LOGIN</h2>
            </div>
            <div class="card-body ">
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                       <i class="material-icons" style="color: #fff">face</i>
                    </span>
                  </div>                
                  <input name="name" type="text" style="color: white" class="form-control" placeholder="nom d'utilisateur" ngModel>
                </div>
              </span>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons"  style="color: #fff">lock_outline</i>
                    </span>
                  </div>
                  <input name="password" type="password" style="color: white" class="form-control" placeholder="mot de passe" ngModel>
                </div>
            <!-- <div class="text" style="text-align: right">
                    <div class="stats">
                      <i class="material-icons text-danger" style="font-size: xx-small">warning</i>
                      <a href="#pablo" style="font-size: x-small; color: wheat">mot de passe oublié</a>
                    </div>
                  </div>  -->              
              </span>
            </div>
            <div class="text" style="text-align: center">
              <!-- <a [routerLink]="['/dashboard']" class="btn btn-primary btn-round mt-4">connexion</a> -->
              <input type="submit" value="connexion"class="btn btn-primary btn-round mt-4">
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="text" style="text-align: center">
          <a [routerLink]="['/pages/register']" class="text pull-right" style="color: rgb(255, 255, 254); background-color: rgba(36, 35, 34, 0.747)">cliquer ici pour créér votre compte</a>
        </div> -->
    </div>
    <footer class="footer " style="background-color: rgba(21, 165, 122, 0.719)">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="https://www.test.pse-consulting.com/">
                PSE-Consulting
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright pull-right">
          &copy;
            {{year | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
          <a href="https://www.test.pse-consulting.com/" target="_blank">PSE-Consulting</a> for a better Managment.
        </div>
      </div>
    </footer>
  </div>
</div>
