<div class="main-content">
  <div class="container-fluid">
    <div class="row">      
      <div class="col-md-12">
          <div class="col-md-12">
              <div class="card ">
                <div class="card-header ">
                  <h2 class="card-title" style="text-align: right;font-size: 25px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ">GESTION EMPLOYE</h2>
                </div>
                <div class="card-body ">
                  <ul class="nav nav-pills nav-pills-warning" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                        compte
                      </a>
                    </li>                    
                    <!-- <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
                        AJOUT
                      </a>
                    </li> -->
                  </ul>
                  <div class="tab-content tab-space">
                    <div class="tab-pane active" id="link1">
                      <table class="table table-hover" style="text-align: center; border: 1px solid black"> 
                        <thead class="text" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">                
                          <tr style="border: 1px solid black; border-bottom: 1px solid black">
                            <th>Nom d'utilisateur</th>
                            <th>Adresse mail</th>
                            <th>Profil</th>
                        <!--<th>heure arrivée</th>
                            <th>heure départ</th>
                            <th>extra</th>
                            <th>total</th>-->
                            <th>Actions</th>
                          </tr>
                        </thead>                  
                          <tr *ngFor="let user of tab; let i=index">
                            <td>{{user.userName}}</td>
                            <td>{{user.adresse}}</td>
                            <td>{{user.profil}}</td>
                            <!--<td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>-->
                            <td>
                              <button class="nav-link" type="button" class="btn-icon" >
                                <i class="material-icons">edit</i>                    
                              </button>
                              <button class="nav-link" type="button" class="btn-icon" (click)="deleteUser(user.id)" >
                                  <i class="material-icons">delete</i>                    
                                </button>                 
                            </td>                                    
                          </tr>
                      <!--<tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>
                                <button class="nav-link" type="button" class="btn-icon" >
                                    <i class="material-icons">edit</i>                    
                                  </button>
                                  <button class="nav-link" type="button" class="btn-icon" >
                                      <i class="material-icons">delete</i>                    
                                    </button>
                          </td>
                          </tr>
                          <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>
                                <button class="nav-link" type="button" class="btn-icon" >
                                    <i class="material-icons">edit</i>                    
                                  </button>
                                  <button class="nav-link" type="button" class="btn-icon" >
                                      <i class="material-icons">delete</i>                    
                                    </button>
                            </td>
                          </tr>
                          <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>
                                <button class="nav-link" type="button" class="btn-icon" >
                                    <i class="material-icons">edit</i>                    
                                  </button>
                                  <button class="nav-link" type="button" class="btn-icon" >
                                      <i class="material-icons">delete</i>                    
                                    </button>
                            </td>
                          </tr>
                          <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>
                                <button class="nav-link" type="button" class="btn-icon" >
                                  <i class="material-icons">edit</i>                    
                                </button>
                                <button class="nav-link" type="button" class="btn-icon" >
                                    <i class="material-icons">delete</i>                    
                                </button>
                            </td>
                          </tr>-->
                        </table>
                    <!-- <div class="text" style="text-align: center">
                      <a [routerLink]="['/dashboard']" class="btn btn-primary btn-round mt-4" style="background-color: rgba(49, 49, 48, 0.918)">enregistrer</a>
                    </div>-->
                    </div>
                    <!-- <div class="tab-pane" id="link3">                        
                        <div class="col-md-10">
                          <div class="card-body ">
                            <span class="bmd-form-group">
                              <div class="row">
                                <label class="col-sm-2 col-form-label">nom</label>
                                  <div class="col-sm-10">
                                    <mat-form-field class="example-full-width">
                                      <input matInput type="text">
                                    </mat-form-field>
                                  </div>
                              </div>                        
                            </span>
                            <span class="bmd-form-group">
                              <div class="row">
                                <label class="col-sm-2 col-form-label">prénom</label>
                                  <div class="col-sm-10">
                                    <mat-form-field class="example-full-width">
                                      <input matInput type="text">
                                    </mat-form-field>
                                  </div>
                              </div>                        
                            </span>
                            <span class="bmd-form-group">
                              <div class="row">
                                <label class="col-sm-2 col-form-label">nombre d'heures à effectuer</label>
                                  <div class="col-sm-2">
                                    <mat-form-field class="example-full-width">
                                      <input matInput type="text">
                                    </mat-form-field>
                                  </div>
                              </div>                        
                            </span>                      
                        </div>
                        <div class="text" style="text-align: center">
                          <a [routerLink]="['/dashboard']" class="btn btn-primary btn-round mt-4" style="background-color: rgba(49, 49, 48, 0.918)">ajouter</a>
                        </div>                                                                    
                      </div>                         
                    </div> -->
                  </div>
                </div>
              </div>
            </div>                                  
          </div>                                
      </div>                    
    </div>
</div>

