
<div class="wrapper wrapper-full-page">
   <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('../../assets/img/register.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <form #userInfo = "ngForm" (ngSubmit) = "onClick(userInfo.value)" class="form" method="" action="">
      <div class="col-lg-8  col-md-6 col-sm-6 ml-auto mr-auto">
        <div class="box" style="background:rgba(10, 10, 10, 0.301)">
          <div class="text text-center" >
              <h3 style="font-style: italic; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; font-size: 40px; color: rgb(252, 252, 252)">créer votre compte HourPoint</h3>
          </div>
          <div class="text-left">
            <div class="row" >
                <div class="col-md-5">
                    <div class="form-group">
                      <label class="bmd-label-floating">nom utilisateur</label>
                        <input name="nomUtilisateur" type="text" class="form-control" style="color: rgba(255, 255, 255, 0.884)" ngModel>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                      <label class="bmd-label-floating">Profil</label><br/>
                        <input name="profil" type="radio" value="admin"  style="color: rgba(255, 255, 255, 0.884)" ngModel>Admin
                        <input name="profil" type="radio" value="user"  style="color: rgba(255, 255, 255, 0.884)" ngModel>User
                    </div>
                </div>
            </div>
            <div class="row" >
              <div class="col-md-5">
                <div class="form-group">
                  <label class="bmd-label-floating">nom</label>
                    <input name="nom" type="text" class="form-control" style="color: rgba(255, 255, 255, 0.884)" ngModel>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">prénom</label>
                  <input name="prenom" type="text" class="form-control" style="color: rgba(255, 255, 255, 0.884)" ngModel>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label class="bmd-label-floating">adresse email</label>
                  <input name="adresse" type="text" class="form-control" style="color: rgba(255, 255, 255, 0.884)" ngModel>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">numéro de téléphone</label>
                  <input name="tel" type="number" class="form-control" style="color: rgba(255, 255, 255, 0.884)" ngModel>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label class="bmd-label-floating">mot de passe</label>
                  <input name="mdp" type="password" class="form-control"style="color: rgba(255, 255, 255, 0.884)" ngModel>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">confirmez votre mot de passe</label>
                  <input type="password" class="form-control" style="color: rgba(255, 255, 255, 0.884)" ngModel>
                </div>
                <div class="text" style="text-align: center">
                    <!--<a [routerLink]="['/pages/login']" class="btn btn-primary btn-round mt-4">créer mon compte</a>-->
                    <input type="submit" value="créer mon compte" class="btn btn-primary btn-round mt-4">
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- <footer class="footer " >
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="https://www.test.pse-consulting.com/">
                    PSE-Consulting
              </a>
            </li>
            <li>
              <a href="https://www.test.pse-consulting.com/">
                    About Us
              </a>
            </li>
            <li>
              <a href="https://www.test.pse-consulting.com/">
                    Blog
              </a>
            </li>
            <li>
              <a href="https://www.test.pse-consulting.com/">
                    Licenses
              </a>
            </li>
          </ul>
        </nav>
          <div class="copyright pull-right">
            &copy;
              {{year | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
            <a href="https://www.test.pse-consulting.com/" target="_blank">PSE-Consulting</a> for a better Managment.
          </div>
      </div>
    </footer>-->
  </div>
</div>
  