  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header card-header-icon ">
              <div class="card-icon" style="background-color: rgb(109, 172, 214);">
                <i class="material-icons">perm_identity</i>
              </div>
              <!--<h4 class="card-title">Edit Profile -
                <small class="category">Complete your profile</small>
              </h4>-->
            </div>
            <div class="card-body">
              <form #userInfo = "ngForm" (ngSubmit) = "onClick(userInfo.value)" class="form" method="" action="">
                 <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating" style="color:black !important">nom utilisateur</label>
                      <input name="nomUtilisateur" type="text" class="form-control" #userName="ngModel" ngModel required>
                    </div>
                    <div *ngIf="!userName.valid && userName.dirty==true">
                      <label style="color: rgba(253, 70, 70, 0.884)">Champ vide</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating" style="color:black !important">Profil</label><br/>
                      <input name="profil" type="radio" value="admin"  ngModel required>Admin
                      <input name="profil" type="radio" value="user"  ngModel required>User
                    </div>
                  </div>
                </div>
                <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating"  style="color:black !important">nom</label>
                      <input name="nom" type="text" class="form-control" #name="ngModel" ngModel required>
                    </div>
                    <div *ngIf="!name.valid && name.dirty==true">
                      <label style="color: rgba(253, 70, 70, 0.884)">Champ vide</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating" style="color:black !important">prénom</label>
                      <input name="prenom" type="text" class="form-control" #secondName="ngModel" ngModel required>
                    </div>
                    <div *ngIf="!secondName.valid && secondName.dirty==true">
                      <label style="color: rgba(253, 70, 70, 0.884)">Champ vide</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <!--[pattern]="emailRegex"-->
                      <label class="bmd-label-floating" style="color:black !important">adresse email</label>
                      <input name="adresse" type="text" class="form-control" #email="ngModel" ngModel [pattern]="emailRegex" required>
                    </div>
                    <div *ngIf="email.errors">
                      <label *ngIf="email.errors.required && email.dirty==true" style="color: rgba(253, 70, 70, 0.884)">Champ vide</label>
                      <label *ngIf="email.errors.pattern" style="color: rgba(253, 70, 70, 0.884)">Adresse mail invalide</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating" style="color:black !important">numéro de téléphone</label>
                      <input name="tel" type="number" class="form-control" #tel="ngModel" ngModel required>
                    </div>
                    <div *ngIf="!tel.valid && tel.dirty==true">
                      <label style="color: rgba(253, 70, 70, 0.884)">Champ vide</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating" style="color:black !important">mot de passe</label>
                      <input name="mdp" type="password" class="form-control" #mdp="ngModel" ngModel minlength="8" required>
                    </div>
                    <div *ngIf="mdp.errors">
                      <label *ngIf="mdp.errors.required && mdp.dirty==true" style="color: rgba(253, 70, 70, 0.884)">Champ vide</label>
                      <label *ngIf="mdp.errors.minlength" style="color: rgba(253, 70, 70, 0.884)">Entrez aumoins 8 caractères</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating" style="color:black !important">confirmez votre mot de passe</label>
                      <input name="mdpConfirm" type="password" class="form-control" #mdpConfirm="ngModel" ngModel minlength="8" required>
                    </div>
                    <div *ngIf="mdpConfirm.errors">
                      <label *ngIf="mdpConfirm.errors.required && mdpConfirm.dirty==true" style="color: rgba(253, 70, 70, 0.884)">Champ vide</label>
                      <label *ngIf="mdpConfirm.errors.minlength" style="color: rgba(253, 70, 70, 0.884)">Entrez aumoins 8 caractères</label>
                    </div>
                  </div>
                  <div class="text" style="text-align: center">
                    <input routerLink="/registerImport" type="button" style="background-color: rgb(109, 172, 214);" class="btn btn-primary btn-round mt-4" value="créer compte par import">
                    <input type="submit" [disabled]="!userInfo.valid" value="créer mon compte" style="background-color: rgb(109, 172, 214);" class="btn btn-primary btn-round mt-4" >
                  </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>